.user-component {
  justify-content: space-between;
}

.user-component,
.usercomponent_column:first-child {
  display: flex;
  align-items: center;
}

.user-component_avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-component_title {
  font-size: 17px;
  font-weight: 600;
}

.user-component_subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component_avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component_avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component_title--not-bold {
  font-weight: 400;
}

.friends-screen_chennel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.friend-screen_chennel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.user-component_column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
